body {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  background-color: #FFFAF0;
}

.App {
  max-width: 1600px;
  margin: 0 auto;
}

.cards-section{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 2em 0 2em 0;
}

.ink {
  cursor: pointer;
}
